<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastebin | Main</title>
    <link rel="stylesheet" th:href="@{/css/core.css}">
</head>

<body>
    <main>
        <form class="login-form" th:method="post" th:action="@{/perform_login}">
            <p>Вход в аккаунт</p>
            <div>
                <label for="username">Логин</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">
                <a>Login</a>
            </button>
        </form>
        <div class="link-to-registration">
            <a th:href="@{/registration}">Registration</a>
        </div>
    </main>
</body>

</html>