<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastebin | Main</title>
    <link rel="stylesheet" href="../static/css/core.css">
</head>

<body>
    <header>
        <ul class="nav-wrapper">
            <li class="nav__item"><a href="index.html" class="nav__item-link">
                    <div class="logo">PASTEBIN 2.0</div>
                </a></li>
            <li class="nav__item"><a href="posts.html" class="nav__item-link nav-posts active">Pastes</a></li>
            <li class="nav__item"><a href="faq.html" class="nav__item-link nav-faq">FAQ</a></li>
            <li class="nav__item"><a href="index.html" class="nav__item-link nav-create">
                    <button class="button">Create Post</button>
                </a></li>
            <li class="nav__item"><a href="login.html" class="nav__item-link nav-login right">
                    <button class="button">Login</button>
                </a></li>
            <li class="nav__item"><a href="#" class="nav__item-link nav-search right">
                    <input type="text" placeholder="Поиск">
                </a></li>
        </ul>
    </header>
    <main>
        <div class="latest-pastes">
            <p>Latest pastes</p>
            <div class="paste-block">
                <a href="#" class="paste-link">Lorem ipsum dolor sit.</a>
                <div class="paste-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus voluptas obcaecati, repellat nisi ratione earum incidunt. Sapiente iusto quia nesciunt?
                </div>
                <div class="paste-data">
                    <span class="paste-data-author">Author</span>
                    <span class="paste-data-age">3 hours ago</span>
                    <span class="paste-data-size">0.32 KB</span>
                </div>
            </div>
            <div class="paste-block">
                <a href="#" class="paste-link">Lorem ipsum dolor sit.</a>
                <div class="paste-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus voluptas obcaecati, repellat nisi ratione earum incidunt. Sapiente iusto quia nesciunt?
                </div>
                <div class="paste-data">
                    <span class="paste-data-author">Author</span>
                    <span class="paste-data-age">3 hours ago</span>
                    <span class="paste-data-size">0.32 KB</span>
                </div>
            </div>
            <div class="paste-block">
                <a href="#" class="paste-link">Lorem ipsum dolor sit.</a>
                <div class="paste-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus voluptas obcaecati, repellat nisi ratione earum incidunt. Sapiente iusto quia nesciunt?
                </div>
                <div class="paste-data">
                    <span class="paste-data-author">Author</span>
                    <span class="paste-data-age">3 hours ago</span>
                    <span class="paste-data-size">0.32 KB</span>
                </div>
            </div>
        </div>
    </main>
</body>

</html>